.kort-rad {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.kort-rad {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.kort img {
  max-width: 100%;
  height: auto;
}